* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #6D5D4B;
  background-image: linear-gradient(to right bottom, #f9f7f6, #aaa);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn-inline {
  border: none;
  color: #c69963;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: #54483A; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    transform: translateY(-0.5rem); }
  100% {
    transform: scale(1);
    box-shadow: none;
    transform: translateY(0); } }

/*################header####################*/
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f9f7f6;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 30vh; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(84, 72, 58, 0.5), rgba(84, 72, 58, 0.4)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.nav {
  font-size: 1.4rem;
  height: 7rem;
  background: transparent;
  border-bottom: 1px solid var(#aaa);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 20rem;
  margin: 2rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  color: #fff; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    border-bottom: 0.5rem solid #c69963; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #f9f7f6; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #c69963;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

#banner {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #banner .banner-text {
    flex: 1 0 100%;
    text-align: center; }

.banner-text h1 {
  text-transform: uppercase;
  color: #ffc914;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline; }

.banner-text h3 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 10px 0;
  color: #d9e5d6; }

.banner-text a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  padding: 10px;
  color: #ffc914;
  border: 3px solid #ffc914;
  background: transparent;
  transition: color 2s ease, background 2s ease; }

.banner-text a:hover {
  color: #2e282e;
  background: #ffc914; }

.search-container {
  display: flex;
  width: 70%;
  padding-left: 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.banner-property {
  list-style: none;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem; }
  .banner-property :not(:last-child) {
    margin-right: 2rem; }
  .banner-property li {
    display: inline-block;
    height: 3rem;
    transition: all .5s; }
    .banner-property li a {
      color: currentColor;
      text-decoration: none;
      display: inline-block; }
    .banner-property li:hover {
      border-bottom: 3px solid #c69963; }

.search {
  flex: 1 0 100%;
  display: flex;
  width: 90%; }
  .search__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: #f2eaea;
    border: none;
    padding: 1.5rem 2rem;
    padding-right: 0;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: color-grey-light-4; }
  .search__input:focus + .search__button {
    background-color: green;
    padding: 2rem 4rem; }
  .search__button {
    border: none;
    background-color: #00ae66;
    padding: 2rem;
    transition: all .5s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: white; }

/*skills section*/
#features {
  max-height: 20vh;
  background: white;
  margin: 0 auto; }

.features-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly; }

.features-item {
  text-align: center;
  margin: 1rem 0; }

.features-item svg {
  font-size: 5rem !important;
  color: #191716;
  letter-spacing: 1px; }

.features-item h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: .5rem 0;
  color: #394043;
  text-transform: uppercase; }

.features-item p {
  width: 75%;
  font-size: 1rem;
  margin: 0 auto;
  color: #b0b3b4; }

/*projects */
/*tittle */
.title-text {
  text-align: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  text-transform: uppercase; }

.title-underline {
  width: 20rem;
  border: 3px solid #e6af2e;
  margin: 0 auto; }

.features-property .title-text {
  color: #191716; }

#features-box {
  width: 112rem !important;
  margin: 0 auto;
  margin-top: 5rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery .feature-property {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4; }
  .gallery .feature-service {
    grid-row: 1 / span 1;
    grid-column: 6 / span 4; }
  .gallery__item {
    overflow: hidden;
    position: relative;
    transition: all .5s; }
    .gallery__item .img-bcgd {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }
    .gallery__item svg {
      font-size: 60px;
      margin-bottom: 30px;
      color: #e6af2e; }
    .gallery__item .front-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: transform .5s;
      z-index: 1; }
    .gallery__item .back-text {
      position: absolute;
      bottom: -21rem;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      height: 100%;
      transition: bottom .5s;
      padding: 30px 0;
      z-index: 1; }
    .gallery__item .back-text h1 {
      margin-bottom: 20px; }
    .gallery__item .back-text button {
      margin-top: 20px;
      padding: 10px 20px;
      background: transparent;
      border: 2px solid #e6af2e;
      font-size: 20px;
      color: #e6af2e; }
    .gallery__item .back-text button:hover {
      background-color: #e6af2e;
      color: #191716; }
    .gallery__item:hover .front-text {
      transform: translate(-50%, -200px); }
    .gallery__item:hover .back-text {
      bottom: 0; }
    .gallery__item:hover .gallery__img {
      transform: scale(1.1); }
    .gallery__item:hover .img-bcgd {
      background: transparent;
      background-blend-mode: screen; }
    .gallery__item--1 {
      grid-row: 2 / span 2;
      grid-column: 1 / span 2; }
    .gallery__item--2 {
      grid-row: 2 / span 3;
      grid-column: 3 / span 2; }
    .gallery__item--3 {
      grid-row: 2 / span 2;
      grid-column: 6 / 7; }
    .gallery__item--4 {
      grid-row: 2 / span 2;
      grid-column: 7 / -1; }
    .gallery__item--5 {
      grid-row: 4 / span 3;
      grid-column: 1 / span 2; }
    .gallery__item--6 {
      grid-row: 5 / span 2;
      grid-column: 3 / span 2; }
    .gallery__item--7 {
      grid-row: 5 / 5;
      grid-column: 5 / 6; }
    .gallery__item--8 {
      grid-row: 4 / span 2;
      grid-column: 6 / span 2; }
    .gallery__item--9 {
      grid-row: 4 / span 3;
      grid-column: 8 / -1; }
    .gallery__item--10 {
      grid-row: 7 / span 2;
      grid-column: 1 / 2; }
    .gallery__item--11 {
      grid-row: 7 / span 2;
      grid-column: 2 / span 2; }
    .gallery__item--12 {
      grid-row: 7 / span 2;
      grid-column: 4 / 5; }
    .gallery__item--13 {
      grid-row: 6 / span 3;
      grid-column: 6 / span 2; }
    .gallery__item--14 {
      grid-row: 7 / span 2;
      grid-column: 8 / -1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .5s; }

.story {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr); }
  .story__pictures {
    background-color: #c69963;
    grid-column: 1 / span 4;
    background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .story__pictures {
        grid-column: 1 / -1;
        padding: 6rem; } }
  .story__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 56.25em) {
      .story__img--1 {
        grid-column: 1 / 5;
        grid-row: 1 / -1; } }
  .story__img--2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .story__img--2 {
        grid-row: 1 / -1;
        width: 100%; } }
  .story__content {
    background-color: #f9f7f6;
    grid-column: 5 / -1;
    padding: 6rem 8vw;
    /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
    display: grid;
    align-content: center;
    justify-items: start; }
    @media only screen and (max-width: 56.25em) {
      .story__content {
        grid-column: 1 / -1;
        grid-row: 5 / 6; } }
  .story__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem; }

.homes {
  width: 112rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-content: center;
  align-items: center;
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1; }
  .home__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }
  .home__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      color: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__btn {
    grid-column: 1 / -1; }

.footer {
  background-color: #101d2c;
  width: 100%;
  padding: 8rem; }

.footer--nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .footer--nav__link:link, .footer--nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .footer--nav__link:hover, .footer--nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit; }

td,
th {
  display: table-cell;
  vertical-align: inherit; }

dl,
dt,
dd,
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.fix-right-v3 {
  position: fixed;
  left: 0;
  top: 0;
  width: 38px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 1002; }

.fix-right-v3 table,
.fix-right-v3 td {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse; }

.fix-right-v3 table {
  width: 100%;
  height: 100%; }

.fix-right-v3 .sidebar-item {
  position: relative;
  margin: 7px 0; }

a {
  text-decoration: none;
  outline: none; }

.fix-right-v3 .mycart > a {
  height: 38px;
  line-height: 38px;
  background-position: -38px -421px; }

.fix-right-v3 .sidebar-item > a {
  display: block;
  width: 38px;
  font-size: 0;
  color: black;
  overflow: hidden;
  cursor: pointer; }
  .fix-right-v3 .sidebar-item > a svg {
    width: 30px;
    height: 30px; }
  .fix-right-v3 .sidebar-item > a:hover .mycart .popup {
    display: block;
    opacity: 1; }

.fix-right-v3 .mycart .popup {
  padding: 15px 25px 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #f5f5f6;
  width: 300px;
  background: #fff;
  color: #616669;
  z-index: 100; }

.fix-right-v3 .sidebar-item .popup {
  position: absolute;
  right: 48px;
  top: 0;
  display: none;
  padding: 0 14px;
  color: #fff;
  font-size: 12px;
  background: #00ae66;
  white-space: nowrap; }

.fix-right-v3 .mycart .popup i {
  border-color: transparent transparent transparent #fff;
  top: 18px; }

.fix-right-v3 .sidebar-item .popup i {
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  margin: -5px -10px 0 0;
  font-size: 0;
  border: 5px solid;
  border-color: transparent transparent transparent #00ae66;
  overflow: hidden; }

.fix-right-v3 .mycart .popup .head-line {
  color: #d0d1d2;
  line-height: 18px;
  padding-bottom: 13px;
  border-bottom: 1px solid #eee; }

.fix-right-v3 .mycart .popup .head-line .title a {
  font-size: 18px;
  font-weight: bold;
  color: #394043; }

.fix-right-v3 .mycart .popup .head-line .explain {
  margin-left: 15px;
  line-height: 18px; }

.fix-right-v3 .mycart .popup .head-line .explain a {
  color: #d0d1d2; }

.fix-right-v3 .mycart .popup .zones {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 306px;
  margin-bottom: 13px; }

.hide {
  display: none; }

.fix-right-v3 .mycart .popup .zone-loading {
  text-align: center; }

.fix-right-v3 .mycart .popup .book-btn {
  color: #fff;
  background: #00ae66;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 100%; }

.fix-right-v3 .mycart .popup .book-btn a {
  color: #fff;
  display: block; }

.fix-right-v3 .mycart .popup .empty-cart,
.fix-right-v3 .mycart .popup .failed-cart,
.fix-right-v3 .mycart .popup .loading {
  color: #969696;
  font-size: 17px;
  text-align: center; }

.fix-right-v3 .mycart .popup .empty-cart .no-log-empty-img,
.fix-right-v3 .mycart .popup .failed-cart .no-log-empty-img,
.fix-right-v3 .mycart .popup .loading .no-log-empty-img {
  margin: 40px auto 30px;
  width: 76px;
  height: 94px;
  background-image: url(ershoufang/sellDetail/img/no_log_empty_cart.png);
  background-image: -webkit-image-set(url(ershoufang/sellDetail/img/no_log_empty_cart.png) 1x, url(ershoufang/sellDetail/img/no_log_empty_cart@2x.png) 2x);
  background-repeat: no-repeat; }

.fix-right-v3 .mycart .popup .empty-cart .msg,
.fix-right-v3 .mycart .popup .failed-cart .msg,
.fix-right-v3 .mycart .popup .loading .msg {
  line-height: 17px;
  margin-bottom: 30px; }

.fix-right-v3 .mycart .popup .empty-cart .log-in-btn,
.fix-right-v3 .mycart .popup .failed-cart .log-in-btn,
.fix-right-v3 .mycart .popup .loading .log-in-btn,
.fix-right-v3 .mycart .popup .empty-cart .link-btn,
.fix-right-v3 .mycart .popup .failed-cart .link-btn,
.fix-right-v3 .mycart .popup .loading .link-btn {
  color: #394043;
  background: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 110px;
  margin: 0 auto; }

.fix-right-v3 .mycart .popup .empty-cart .log-in-btn i,
.fix-right-v3 .mycart .popup .failed-cart .log-in-btn i,
.fix-right-v3 .mycart .popup .loading .log-in-btn i,
.fix-right-v3 .mycart .popup .empty-cart .link-btn i,
.fix-right-v3 .mycart .popup .failed-cart .link-btn i,
.fix-right-v3 .mycart .popup .loading .link-btn i {
  display: inline-block;
  width: 6px;
  height: 12px;
  margin-left: 10px;
  border: 0;
  position: static;
  background-image: url(ershoufang/sellDetail/img/ar.png);
  background-image: -webkit-image-set(url(ershoufang/sellDetail/img/ar.png) 1x, url(ershoufang/sellDetail/img/ar@2x.png) 2x);
  background-repeat: no-repeat; }

.fix-right-v3 .mycart .popup i {
  border-color: transparent transparent transparent #fff;
  top: 18px; }

.fix-right-v3 .sidebar-item .popup i {
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  margin: -5px -10px 0 0;
  font-size: 0;
  border: 5px solid;
  border-color: transparent transparent transparent #00ae66;
  overflow: hidden; }

.fix-right-v3 .sidebar-line {
  width: 19px;
  height: 1px;
  margin: 7px auto;
  background: #ccc; }

.fix-right-v3 .sidebar-item {
  position: relative;
  margin: 7px 0; }

.fix-right-v3 .myfav:hover > a {
  background-position: 0 0; }

.fix-right-v3 .myfav > a {
  background-position: -38px 0; }

.fix-right-v3 .myfav > a,
.fix-right-v3 .myfav span {
  height: 38px;
  line-height: 38px; }

.fix-right-v3 .sidebar-item > a {
  display: block;
  width: 38px;
  font-size: 0;
  background-image: url(img/home/sidebar_spriteV5.png?v=modifyCompare);
  background-image: -webkit-image-set(url(img/home/sidebar_spriteV5.png?v=modifyCompare) 1x, url(img/home/sidebar_spriteV5@2x.png?v=modifyCompare) 2x);
  overflow: hidden;
  cursor: pointer; }

.fix-right-v3 .sidebar-item .popup {
  position: absolute;
  right: 48px;
  top: 0;
  display: none;
  padding: 0 14px;
  color: #fff;
  font-size: 12px;
  background: #00ae66;
  white-space: nowrap; }

.fix-right-v3 .myfav > a,
.fix-right-v3 .myfav span {
  height: 38px;
  line-height: 38px; }

.fix-right-v3 .sell a {
  background-position: -38px -88px; }

.fix-right-v3 .sell a,
.fix-right-v3 .sell span {
  height: 50px;
  line-height: 50px; }

.fix-right-v3 .sidebar-item > a {
  display: block;
  width: 38px;
  font-size: 0;
  background-image: url(img/home/sidebar_spriteV5.png?v=modifyCompare);
  background-image: -webkit-image-set(url(img/home/sidebar_spriteV5.png?v=modifyCompare) 1x, url(img/home/sidebar_spriteV5@2x.png?v=modifyCompare) 2x);
  overflow: hidden;
  cursor: pointer; }

.fix-right-v3 .download:hover a {
  background-position: 0 -224px; }

.fix-right-v3 .download a {
  height: 38px;
  background-position: -38px -224px; }

.fix-right-v3 .download a,
.fix-right-v3 .download span {
  line-height: 38px; }

.fix-right-v3 .gotop {
  position: absolute;
  bottom: 10px; }

.fix-right-v3 .gotop a {
  background-position: -38px -338px; }

.fix-right-v3 .gotop a,
.fix-right-v3 .gotop span {
  height: 38px;
  line-height: 38px; }

.fix-right-v3 .sidebar-item .popup {
  position: absolute;
  right: 48px;
  top: 0;
  display: none;
  padding: 0 14px;
  color: #fff;
  font-size: 12px;
  background: #00ae66;
  white-space: nowrap; }

.fix-right-v3 .gotop a,
.fix-right-v3 .gotop span {
  height: 38px;
  line-height: 38px; }

.list-header {
  height: 15vh;
  width: 100%;
  background: white;
  border-bottom: 1px solid #54483A; }

.filter {
  width: 1120rem;
  margin: 0 auto;
  margin-top: 5rem; }

.filter--container {
  display: flex;
  align-content: center;
  align-items: center; }

.filter--search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .filter--search {
      order: 1;
      flex: 0 0 100%;
      background-color: #aaa; } }
  .filter--search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #aaa;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .filter--search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .filter--search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .filter--search__input:focus + .filter--search__button {
    background-color: #f0eeee; }
  .filter--search__button {
    border: none;
    background-color: #aaa; }
    .filter--search__button:focus {
      outline: none; }
    .filter--search__button:active {
      transform: translateY(2px); }
  .filter--search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }
